<div class="content container-fluid">
  <h2>Projects</h2>
  
  <div class="container-fluid">
    <div class="slick-container">
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
      <div class="center">
        <img src="https://source.unsplash.com/collection/1065412/200x200/" class="img-thumbnail" height="50">
      </div>
    </div>

          <!-- <div class="carousel-item col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 4" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=3" alt="slide 3">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 5" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=4" alt="slide 4">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 ">
          <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 6" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=5" alt="slide 5">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 7" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=6" alt="slide 6">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3 ">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 8" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=7" alt="slide 7">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item col-md-3  ">
            <div class="panel panel-default">
              <div class="panel-thumbnail">
                <a href="#" title="image 2" class="thumb">
                  <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=8" alt="slide 8">
                </a>
              </div>
            </div>
          </div> -->
        <!-- <div carousel-slide1>
          <a href="#" title="image 1" class="thumb">
            <img class="img-fluid mx-auto d-block" apphover-fade src="//via.placeholder.com/600x400?text=1" alt="slide 1">
          </a>
        </div>
        <div carousel-slide2>
          <a href="#" title="image 3" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=2" alt="slide 2">
          </a>
        </div>
        <div carousel-slide3>
          <a href="#" title="image 4" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=3" alt="slide 3">
          </a>
        </div>
        <div carousel-slide4>
          <a href="#" title="image 5" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=4" alt="slide 4">
          </a>
        </div>
        <div carousel-slide5>
          <a href="#" title="image 6" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=5" alt="slide 5">
          </a>
        </div>
        <div carousel-slide6>
          <a href="#" title="image 7" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=6" alt="slide 6">
          </a>
        </div>
        <div carousel-slide7>
          <a href="#" title="image 8" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=7" alt="slide 7">
          </a>
        </div>
        <div carousel-slide8>
          <a href="#" title="image 2" class="thumb">
            <img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=8" alt="slide 8">
          </a>
        </div> -->
    </div>
</div>