h2, p{
    font-family: 'Yusei Magic', sans-serif;
}

h2{
    // Light blue
    color: #cccfd3;
}

.content{
    // Dark blue
    background-color: #1c2131;
    padding-bottom: 32px;
}

.center{
    img{
        margin-left: auto;
        margin-right: auto;
    }
}

.slick-container{
    max-width: 84vw;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 320px){
    .slick-container{
        max-width: 80vw;
    }
}