h1, p{
    font-family: 'Yusei Magic', sans-serif;
}

.profile-details-wrap{
    margin: 0 auto;
    height: 230px;
    
}

.container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.profile-details-text{
    margin-top: 30px;

    > h1{
        text-shadow: 1px 2px 2px #b0b0b0;
    }
}

.title {
    color: #e9e9e9;
    text-shadow: 0px 1px 4px #A8A2A2;
    font-size: 18px;
}

.description{
    color: #cacaca;
    text-shadow: 0px 1px 4px #706C6C;
    font-size: 12px;
}

.profile-img{
    width: 230px;
    margin-top: 30px;
    background-color: rgb(221, 221, 221);
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 2rem;
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .description{
        text-align: center;
    }

    .container{
        display: block;
    }

    .profile-details-img {
        display:block;
        margin:auto;

        .profile-img {
            display:inherit;
            margin:inherit;
            width: 230px;
            margin-top: 30px;
            background-color: rgb(221, 221, 221);
        }
    }
}